<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<h1>Sliding puzzle</h1>
<button class="btn btn-primary">Primary</button>
<!-- first_iteration -->
<div id="btn"> <button id="btn" class="btn btn-neutral" type="button" hx-target="#first_iteration" hx-get="/first_iteration" hx-swap="innerHtml" htmx-indicator="#low_ding" > Generate Random 3x3 </button> </div>
<div id="low_ding" class="htmx-indicator">
  Scrambling the puzzle...
</div>
<div id="list" hx-get="/first_iteration" hx-target="this" hx-trigger="load" hx-swap="outer">
    Generating a random 3x3...
</div>
{% endblock %}
