{% extends "base.html" %}
{% block content %}

<div id="remaining_iterations" class="flex justify-center items-center h-screen">
  <table>
    {% for board in path %}
    <tr>
      {% for cells in board %}
      <td> <button type="button" class="btn btn-lg btn-primary"> {{cells}} </button> </td>
      {% endfor %}
    </tr>
    {% endfor %}

  </table>
  {% if is_last_step %}
  <span>atoobees compelete</span>
  {% else %}
  <!-- <button type="button" hx-trigger="every 0.1s" hx-target="#remaining_iterations" hx-get="/solve?index={{step}}" hx-swap="innerhtml"> next iteration </button> -->
  <div hx-trigger="every 0.1s" hx-target="#remaining_iterations" hx-get="/solve?index={{step}}" hx-swap="innerhtml"> <!-- wla wla wla --> </div>
  {% endif %}
</div>
{% endblock %}
