{% extends "base.html" %}
{% block content %}

<div id="remaining_iterations" >
  <div id="place_holder_to_make_flex_work" class="flex justify-center items-center">
  <table>
    {% for board in path %}
    <tr>
      {% for cells in board %}
      <td> <button type="button" class="btn btn-lg btn-primary"> {{cells}} </button> </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  </div>
  {% if is_last_step %}
  <div id="eladya_momken" class="flex justify-center">
    <button type="button" class="btn btn-accent btn-lg btn-disable no-animation"> atoobees compelete </button>
  </div>
  {% else %}
  <div hx-trigger="every 0.1s" hx-target="#remaining_iterations" hx-get="/solve?index={{step}}" hx-swap="innerhtml"> <!-- wla wla wla --> </div>
  {% endif %}
</div>
{% endblock %}
