<!-- templates/todos.html -->
{% extends "base.html" %}
{% block content %}
<div id="first_iteration">
  <table>
    {% for board in path %}
    {% for cells in board %}
    <tr>
      {% for cell in cells %}
      <td> {{cell}} </td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% if loop.first %}
    {% break %}
    {% endif %}
    {% endfor %}
  </table>
  <br>

  <button type="button" hx-target ="#first_iteration" hx-get="/rest_iterations?index=1" hx-swap="innerhtml"> START </button>
</div>
{% endblock %}
